body{
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: 'Press Start 2P', cursive;
}

.ButtonStart:hover {
  background: #feae05;
  color: black;
  cursor: pointer;
}

.StartGameButton:hover {
  cursor: pointer;
  border: 5px solid white;
}